{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <div class="login-container">
        <h2>Customer Registration</h2>
        <form action="." method="POST">
            {% csrf_token %}
            <label for="username">Username:</label>
            {{ form.username}}<br>

            <label for="email">Email:</label>
            {{ form.email}}<br> 
    
            <label for="password">Password:</label>
            {{ form.password1}}<br>

            <label for="password2">Repeat Password:</label>
            {{ form.password2}}

            {% if forms.errors or form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}

                {{ forms.non_field_errors }}
            </div>
            {% endif %} 
    
            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>